<footer>
    <div class="container">
        <div class="wrap-footer">
            <div class="row">
                <div class="col-md-6 col-footer footer-1">
                    <img src="~/Asset/images/logofooter.png" />
                    <p>MobileShop chuyên cung cấp điện thoại Iphone, SamSung, Oppo</p>
                </div>
                <div class="col-md-6 col-footer footer-4">
                    <div class="heading"><h4>Liên hệ với chúng tôi</h4></div>
                    <ul>
                        <li><span class="glyphicon glyphicon-home"></span><b>Linh Trung, Thủ Đức, Hồ Chí Minh</b></li>
                        <li><span class="glyphicon glyphicon-earphone"></span><b>0944447777</b></li>
                        <li><span class="glyphicon glyphicon-envelope"></span><b>lienhe@mobileshop.vn</b> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    MobileShop © 2020 - Designed by: <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Lê Thị Thúy Hường &nbsp;&nbsp;&nbsp;&nbsp;18520813 <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Đào Thị Ngân Triều &nbsp;&nbsp;&nbsp;&nbsp;18521535<br />
                    &nbsp;&nbsp;&nbsp;&nbsp; Nguyễn Anh Tú &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   18521582<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;Lê Minh Thông &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   18521456<br />
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        <ul>
                            <li><img src="~/Asset/images/visa-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/paypal-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/discover-curved-32px.png" /></li>
                            <li><img src="~/Asset/images/maestro-curved-32px.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="~/Asset/js/product/product.js"></script>