@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Đăng xuất</h1>
    <h2 class="text-danger">Tài khoản của bạn đã đăng xuất</h2>
</hgroup>
